*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to top left, #5196b9,#f48bca,#f1d4a0,#ea75ea, #98bbed );
}
form{
    background: #cfd5ed;
    width: 400px;
    height: 730px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    margin-bottom: 45px;
    color: black;
    font-size: 40px;
}
.textBoxdiv{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
}
.textBoxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
    height: 30px;
    font-size: 20px;
}
.loginBtn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(to top left, #5196b9,#f48bca,#f1d4a0,#ea75ea, #98bbed );
    background-size: 115%;
    color: black;
    font-size: 20px;
}
.loginBtn:hover{
    background-position: right;
    font-size: 20px;
}
.signin{
    color: black;
    margin-top: 45px;
    text-align: center;
}
.signin a{
    color: blue;
}